@using WebUI.Models;
@using WebUI.ViewModels
@model HomeVM
@{
    ViewData["Title"] = "Index";
}

<main>

      <!-- SLIDER START -->

      <section class="flowers-slider">
        <div
          id="carouselExampleDark"
          class="carousel carousel-dark slide"
          data-bs-ride="carousel"
        >
          <div class="carousel-indicators">
            <button
              type="button"
              data-bs-target="#carouselExampleDark"
              data-bs-slide-to="0"
              class="active"
              aria-current="true"
              aria-label="Slide 1"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleDark"
              data-bs-slide-to="1"
              aria-label="Slide 2"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleDark"
              data-bs-slide-to="2"
              aria-label="Slide 3"
            ></button>
          </div>
          <div class="carousel-inner">
                    @for(int i=0;i<Model.Sliders.Count;i++)
                    {
                    <div class="carousel-item @(i == 0 ? "active" : "")" data-bs-interval="5000">
                        <img
                        src="~/images/flower-slider/@Model.Sliders[i].Url"
                        class="d-block w-100"
                        alt="..."
                       />

                       <div class="carousel-caption d-none d-md-block">
                        @Html.Raw(Model.Summary.Title)
                        <p>
                          @Model.Summary.Description
                        </p>
                        <h2>
                          <img
                            src="~/images/flower-slider/@Model.Summary.Sign"
                            alt="sign"
                          />
                        </h2>
                      </div>
                    </div>
                   }
            
            
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleDark"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleDark"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </section>

      <!-- SLIDER END -->

      <!-- FLOWER-ITEMS START -->

      <section class="flowers">
        <div class="container">
          <div class="row">
            <div class="filter">
              <ul class="filter-left col-6">
                <li data-filter="*">ALL</li>
                <li data-filter=".cactuses">CACTUSES</li>
                <li data-filter=".exotic">EXOTIC</li>
                <li data-filter=".greens">GREENS</li>
                <li data-filter=".popular">POPULAR</li>
                <li data-filter=".various">VARIOUS</li>
                <li data-filter=".winter">WINTER</li>
              </ul>

              <div class="filter-right col-6">
                <div class="filter-dropdown">
                  <a href="#">FILTER <i class="fa-solid fa-caret-down"></i></a>
                  <div class="filter-dropdown-content">
                    <div class="row">
                      <div class="sort-by col-6">
                        <span>Sort By</span>
                          <a href="#">Default</a>
                          <a href="#">Popularity</a>
                          <a href="#">Newness</a>
                          <a href="#">Price:Low to High</a>
                          <a href="#">Price:High to Low</a>
                      </div>
                      <div class="price-range col-6">
                        <span>Price Range</span>
                          <a href="#">All</a>
                          <a href="#">$0-10$</a>
                          <a href="#">10$-20$</a>
                          <a href="#">20$-30$</a>
                          <a href="#">30$-40$</a>
                          <a href="#">40$+</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="flower-cards">
              <div class="card-item col-3">
                <div class="inner-card cactuses" data-id="1">
                  <div class="card-image">
                    <img src="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/shop-14-img.jpg" alt="card image">
                  </div>
                  <div class="card-title">
                    <p>Majesty Palm</p>
                  </div>
                  <div class="add-to-card">
                   <a href="#">Add to Card</a>
                   <a href="#">$259</a>
                  </div>
                </div>
              </div>
              <div class="card-item col-3">
                <div class="inner-card popular exotic" data-id="2">
                  <div class="card-image">
                    <img src="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/shop-13-img.jpg" alt="card image">
                  </div>
                  <div class="card-title">
                    <p>FoxGlove Flower</p>
                  </div>
                  <div class="add-to-card">
                   <a href="#">Add to Card</a>
                   <a href="#">$233</a>
                  </div>
                </div>
              </div>
              <div class="card-item col-3">
                <div class="inner-card various cactuses" data-id="3">
                  <div class="card-image">
                    <img src="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/shop-10-img.jpg" alt="card image">
                  </div>
                  <div class="card-title">
                    <p>Sweet Alyssum</p>
                  </div>
                  <div class="add-to-card">
                   <a href="#">Add to Card</a>
                   <a href="#">$299</a>
                  </div>
                </div>
              </div>
              <div class="card-item col-3">
                <div class="inner-card exotic" data-id="4">
                  <div class="card-image">
                    <img src="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/shop-11-img.jpg" alt="card image">
                  </div>
                  <div class="card-title">
                    <p>Spring Snowflake</p>
                  </div>
                  <div class="add-to-card">
                   <a href="#">Add to Card</a>
                   <a href="#">$159</a>
                  </div>
                </div>
              </div>
              <div class="card-item col-3">
                <div class="inner-card popular" data-id="5">
                  <div class="card-image">
                    <img src="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/shop-12-img.jpg" alt="card image">
                  </div>
                  <div class="card-title">
                    <p>Scarlet Sage</p>
                  </div>
                  <div class="add-to-card">
                   <a href="#">Add to Card</a>
                   <a href="#">$264</a>
                  </div>
                </div>
              </div>
              <div class="card-item col-3">
                <div class="inner-card winter cactuses" data-id="6">
                  <div class="card-image">
                    <img src="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/shop-9-img.jpg" alt="card image">
                  </div>
                  <div class="card-title">
                    <p>Rock Soapwort</p>
                  </div>
                  <div class="add-to-card">
                   <a href="#">Add to Card</a>
                   <a href="#">$428</a>
                  </div>
                </div>
              </div>
              <div class="card-item col-3">
                <div class="inner-card greens winter" data-id="7">
                  <div class="card-image">
                    <img src="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/shop-8-img.jpg" alt="card image">
                  </div>
                  <div class="card-title">
                    <p>Summer Savory</p>
                  </div>
                  <div class="add-to-card">
                   <a href="#">Add to Card</a>
                   <a href="#">$156</a>
                  </div>
                </div>
              </div>
              <div class="card-item col-3" >
                <div class="inner-card greens" data-id="8">
                  <div class="card-image">
                    <img src="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/shop-7-img.jpg" alt="card image">
                  </div>
                  <div class="card-title">
                    <p>Wild Roses</p>
                  </div>
                  <div class="add-to-card">
                   <a href="#">Add to Card</a>
                   <a href="#">$309</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- FLOWER-ITEMS END -->
      
    </main>

